/* General */

:root {
  --title-color: #212121;
  --main-color: #757575;
  --accent-color: #2196f3;
  --footer-color: rgba(255, 255, 255, 0.6);
  --white-text-color: #ffffff;
  --background-dark-color: #2f303a;
  --background-primary-color: #ffffff;
  --background-second-color: #f5f4fa;
  --btn-hover: #188ce8;
  --fill-icon-color: #afb1b8;
}
body {
  background-color: var(--background-primary-color);
  color: var(--main-color);
  font-family: 'Roboto', sans-serif;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

.header-section {
  border-bottom: 1px solid #ececec;
}
.main-nav {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.nav-menu {
  display: flex;
  align-items: center;
}
.contact {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo.header {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}
.logo-dark {
  color: var(--title-color);
}
.logo-light {
  color: var(--white-text-color);
}
.nav-menu-item:not(:last-child) {
  margin-right: 50px;
}
.nav-menu-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-menu-link:hover,
.nav-menu-link:focus {
  color: var(--accent-color);
}
.nav-menu-link.current {
  color: var(--accent-color);
}
.contact {
  margin-left: auto;
}
.contact-item:not(:last-child) {
  margin-right: 50px;
}
.contact-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact-link:focus,
.contact-link:hover {
  color: var(--accent-color);
}
.contact-icon {
  fill: var(--main-color);
  margin-right: 10px;
}
.contact-link:focus .contact-icon,
.contact-link:hover .contact-icon {
  fill: var(--accent-color);
}

/* Hero */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-dark-color);
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(./images/backgroundimage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title-service {
  margin-bottom: 30px;
  color: var(--white-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button-service {
  font-family: inherit;
  padding: 10px 32px;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.button-service:hover,
.button-service:focus {
  background-color: var(--btn-hover);
}

/* Features */

.features-list {
  display: flex;
  flex-wrap: wrap;
}

.bgr-features-icon {
  display: flex;
  justify-content: center;
  background-color: var(--background-second-color);
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  border-radius: 4px;
}
.features-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}
.features-item {
  width: calc((100% - 90px) / 4);
}
.features-item:not(:nth-child(4n)) {
  margin-right: 30px;
}
.features-content {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* Work */

.work.section {
  padding-top: 0;
}
.work-title {
  margin-bottom: 50px;
  text-align: center;
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.work-list {
  display: flex;
}
.work-item {
  width: calc((100% - 60px) / 3);
}
.work-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

/* Team */

.team {
  background-color: var(--background-second-color);
}
.team-main {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-color);
  text-align: center;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
}
.team-item {
  width: calc((100% - 90px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-item:not(:nth-child(4n)) {
  margin-right: 30px;
}
.team-container {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: var(--background-primary-color);
}

.team-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.team-content {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.social-item:not(:last-child) {
  margin-right: 10px;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  border-radius: 50px;
}
.social-icon.icon-team {
  fill: var(--fill-icon-color);
}
.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--white-text-color);
}

/* Clients */

.clients-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.clients-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.clients-item {
  width: calc((100% - 150px) / 6);
}
.clients-item:not(:nth-child(6n)) {
  margin-right: 30px;
}
.clents-link {
  padding-top: 16px;
  padding-bottom: 16px;
  justify-content: center;
  display: flex;
  border: 1px solid var(--fill-icon-color);
  border-radius: 4px;
}
.clients-icon {
  fill: var(--fill-icon-color);
}
.clents-link:focus,
.clents-link:hover {
  border: 1px solid var(--accent-color);
}
.clents-link:hover .clients-icon,
.clents-link:focus .clients-icon {
  fill: var(--accent-color);
}

/* Portfolio menu */
/* Filter menu */

.portfolio-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.btn-item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-btn {
  display: inline-block;
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: var(--background-second-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-color);
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--white-text-color);
}

/* Projects */

.projects-list {
  display: flex;
  flex-wrap: wrap;
}
.projects-item {
  width: calc((100% - 60px) / 3);
}
.projects-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.projects-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.projects-link:focus,
.projects-link:hover {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.projects-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.projects-container {
  padding: 20px 24px;
  background-color: var(--background-primary-color);
  border: 1px solid #eeeeee;
  border-top: none;
}

/* Footer */

.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-dark-color);
}
.logo.foot {
  margin-left: auto;
  margin-bottom: 20px;
}
.address-item:not(:last-child) {
  margin-bottom: 9px;
}
.address-link {
  display: block;
  color: var(--footer-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.address-link.geo {
  color: var(--white-text-color);
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}
.footer-div {
  display: flex;
  align-items: baseline;
}
.footer-right {
  margin-left: 70px;
}
.footer-social-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.icon-footer {
  fill: var(--white-text-color);
}
.link-footer {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
}
